{% extends 'base.jinja2' %}

{% block title %}
Machine Learning system VKF!
{% endblock %}

{% block head %}
<form action="/signin" method="get" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">
    <input type="submit" value="Sign In"/>
</form>
{% endblock %}

{% block content %}
<h4>
{{ explanation }}
</h4>
<form method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">

    <label for="login">Login</label>
    <input id="login" name="login" type="text" value="" autofocus/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" value=""/>

    <input type="submit" value="Log In"/>
</form>
{% endblock %}

{% block footer %}
<p>VKF solver 2.0, 2020</p>
{% endblock %}
