{% extends 'base.jinja2' %}

{% block title %}
Machine Learning system VKF!
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h4>
{{ explanation }}
</h4>
</h4>
<form method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">

  <p>  
    <label for="hypotheses">Hypotheses Table Name</label>
    <input id="hypotheses" name="hypotheses_table" type="text" value="" autofocus/>
  </p>
  <p>  
    <label for="trains">Training Sample Name</label>
    <input id="trains" name="training_table" type="text" value=""/>
  </p>
  <p>    
    <label for="tests">Test Sample Name</label>
    <input id="tests" name="tests_table" type="text" value=""/>
  </p>
  <p>    
    <label for="lattices">Lattices Table Name</label>
    <input id="lattices" name="lattices_table" type="text" value=""/>
  </p>
  <p>    
    <label for="encoder">Encoder Table Name</label>
    <input id="encoder" name="encoder_table" type="text" value=""/>
  </p>
  <p>    
    <label for="complex">Complex Table Name</label>
    <input id="complex" name="complex_table" type="text" value=""/>
  </p>
  <p>    
    <label for="verges">Verges Table Name and Total</label>
    <input id="verges" name="verges_table" type="text" value=""/>
    <input id="verges_total" name="verges_total" type="number" value=0 min=0/>
  </p> 
  <p><input name="type" type="radio" value="continuous"  checked> Continuous only</p>
  <p><input name="type" type="radio" value="discrete"> Discrete only</p>
  <p><input name="type" type="radio" value="full"> Both types</p>
  <input type="submit" value="Save"/>
</form>
{% endblock %}

{% block footer %}
<p>VKF solver 2.0, 2020</p>
{% endblock %}

