{% extends 'base.jinja2' %}

{% block title %}
Machine Learning system VKF!
{% endblock %}

{% block head %}
<form action="/" method="get" accept-charset="utf-8"
enctype="application/x-www-form-urlencoded">
<input type="submit" value="Escape"/>
</form>
{% endblock %}

{% block content %}
  <h4>
    {{ explanation }}
  </h4>
  <form method="post" accept-charset="utf-8"
        enctype="application/x-www-form-urlencoded">
  
        <p><input name="choice" type="radio" value="predict"  checked> Make prediction by Analogy</p>
        <p><input name="choice" type="radio" value="change"> Change experiment parameters</p>
          <input type="submit" value="Predict"/>
  </form>
{% endblock %}

{% block footer %}
<p>VKF solver 2.0, 2020</p>
{% endblock %}