{% extends 'base.jinja2' %}

{% block title %}
Machine Learning system VKF!
{% endblock %}

{% block head %}
<form action="/signin" method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">
    <input type="submit" value="Sign In"/>
</form>
{% endblock %}

{% block content %}
<h4>
{{ explanation }}
</h4>
<form method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">

    <label for="dbname">DB Name</label>
    <input id="dbname" name="dbname" type="text" value="" autofocus/>
    <input type="submit" value="Select"/>
</form>
{% endblock %}

{% block footer %}
<p>VKF solver 2.0, 2020</p>
{% endblock %}

