{% extends 'base.jinja2' %}

{% block title %}
Machine Learning system VKF!
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h4>
VKF solver parameters
</h4>
<p>Experiment name: {{ dbname }}</p>
<p>Encoder table: {{ encoder }}</p>
<p>Lattices table: {{ lattices }}</p>
<p>Verges table: {{ verges }}</p>
<p>Complex table: {{ complex }}</p>
<p>Training table: {{ trains }}</p>
<p>Hypotheses table: {{ hypotheses }}</p>
<p>Experiment type: {{ type }}</p>

<form method="post" accept-charset="utf-8"
      enctype="application/x-www-form-urlencoded">
  {% if type == 'continuous' and good_complex %}
    <p><input name="step" type="radio" value="generate"  checked> Generate hypotheses</p>
    <p><input name="step" type="radio" value="compute"> Compute auxiliary tables</p>
    <p><input name="step" type="radio" value="create"> Collect data</p>
    <p><input name="step" type="radio" value="change"> Change experiment parameters</p>
    <input type="submit" value="Run Induction"/>
  {% elif type == 'discrete' and good_trains %}
    <p><input name="step" type="radio" value="generate"  checked> Generate hypotheses</p>
    <p><input name="step" type="radio" value="create"> Collect data</p>
    <p><input name="step" type="radio" value="change"> Change experiment parameters</p>
    <input type="submit" value="Run Induction"/>  
  {% elif type == 'full' and good_complex %}
    <p><input name="step" type="radio" value="generate"  checked> Generate hypotheses</p>
    <p><input name="step" type="radio" value="compute"> Compute auxiliary tables</p>
    <p><input name="step" type="radio" value="create"> Collect data</p>
    <p><input name="step" type="radio" value="change"> Change experiment parameters</p>
    <input type="submit" value="Run Induction"/>
  {% elif type == 'continuous' and good_trains %}
    <p><input name="step" type="radio" value="compute"  checked> Compute auxiliary tables</p>
    <p><input name="step" type="radio" value="create"> Collect data</p>
    <p><input name="step" type="radio" value="change"> Change experiment parameters</p>
    <input type="submit" value="Compute auxiliary tables"/>
  {% elif type == 'full' and good_trains %}
    <p><input name="step" type="radio" value="compute"  checked> Compute auxiliary tables</p>
    <p><input name="step" type="radio" value="create"> Collect data</p>
    <p><input name="step" type="radio" value="change"> Change experiment parameters</p>
    <input type="submit" value="Compute auxiliary tables"/>
  {% elif type == 'continuous' and good_verges %}
    <p><input name="step" type="radio" value="create"  checked> Create empty tables</p>
    <p><input name="step" type="radio" value="change"> Change experiment parameters</p>
    <input type="submit" value="Create main tables"/>
  {% elif type == 'discrete' and good_lattices %}
    <p><input name="step" type="radio" value="create"  checked> Create empty tables</p>
    <p><input name="step" type="radio" value="change"> Change experiment parameters</p>
    <input type="submit" value="Create main tables"/>
  {% elif type == 'full' and good_verges and good_lattices %}
    <p><input name="step" type="radio" value="create"  checked> Create empty tables</p>
    <p><input name="step" type="radio" value="change"> Change experiment parameters</p>
    <input type="submit" value="Create main tables"/>
  {% else %}
    <p><input name="step" type="radio" value="change"  checked> Change experiment parameters</p>
    <input type="submit" value="Initiate Experiment"/>  
  {% endif %}
</form>
{% endblock %}

{% block footer %}
<p>VKF solver 2.0, 2020</p>
{% endblock %}